---
import iconHaburashi from '../../../assets/images/facility/room/icon-haburashi.svg';
import iconDryer from '../../../assets/images/facility/room/icon-dryer.svg';
import iconIron from '../../../assets/images/facility/room/icon-iron.svg';
---

<section class="room-amenities">
  <article class="room-amenities__category room-amenities__category--amenities">
    <header class="room-amenities__header">
      <h3 class="room-amenities__title-en">Amenities</h3>
      <p class="room-amenities__title-ja">アメニティ</p>
    </header>
    <ul class="room-amenities__list">
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconHaburashi.src}
            alt="歯ブラシセット"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconHaburashi.src}
            alt="歯ブラシセット"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconHaburashi.src}
            alt="歯ブラシセット"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconHaburashi.src}
            alt="歯ブラシセット"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconHaburashi.src}
            alt="歯ブラシセット"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
    </ul>
  </article>

  <article class="room-amenities__category room-amenities__category--equipment">
    <header class="room-amenities__header">
      <h3 class="room-amenities__title-en">Room equipment</h3>
      <p class="room-amenities__title-ja">客室備品</p>
    </header>
    <ul class="room-amenities__list">
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconDryer.src}
            alt="ドライヤー"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
    </ul>
  </article>

  <article class="room-amenities__category room-amenities__category--rental">
    <header class="room-amenities__header">
      <h3 class="room-amenities__title-en">
        Rental items<span class="room-amenities__title-note">(free)</span>
      </h3>
      <p class="room-amenities__title-ja">館内貸出品（無料）</p>
    </header>
    <ul class="room-amenities__list">
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconIron.src}
            alt="アイロン"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconIron.src}
            alt="アイロン"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconIron.src}
            alt="アイロン"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconIron.src}
            alt="アイロン"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
      <li class="room-amenities__item">
        <figure class="room-amenities__icon">
          <img
            src={iconIron.src}
            alt="アイロン"
            class="room-amenities__icon-image"
          />
        </figure>
      </li>
    </ul>
  </article>
</section>
<style lang="scss">
  @import '../../../styles/variables';
  @import '../../../styles/functions';
  @import '../../../styles/mixins';

  .room-amenities {
    display: flex;
    flex-direction: column;
    gap: spx(50);
    padding-bottom: spx(120);
    @include tablet-up {
      gap: ppx(130 * 1.2);
      padding-bottom: ppx(310 * 1.2);
    }
    @include desktop-up {
      gap: ppx(130);
      padding-bottom: ppx(310);
    }

    &__category {
      padding-bottom: spx(70);
      position: relative;
      width: spx(660);
      margin-inline: auto;
      @include tablet-up {
        display: grid;
        grid-template-columns: 26vw auto;
        gap: ppx(141 * 1);
        padding-bottom: ppx(150 * 1.2);
        margin-inline: unset;
        width: ppx(1920 * 1);
        margin-left: ppx(198 * 1);
      }
      @include desktop-up {
        grid-template-columns: 22vw auto;
        gap: ppx(141);
        padding-bottom: ppx(150);
        width: ppx(1920);
        margin-left: ppx(198);
      }
      &:last-child {
        padding-bottom: 0;
      }
      &:after {
        content: '';
        display: block;
        background: linear-gradient(
            to right,
            #59a1c0,
            #59a1c0 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 100%
          )
          0% 0%;
        background-size: 4px 1px;
        width: 100%;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
      }
      &:last-child:after {
        display: none;
      }

      &--amenities {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &--equipment {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }

      &--rental {
        @include tablet-up {
        }
        @include desktop-up {
        }
      }
    }

    &__header {
      @include tablet-up {
        margin-left: ppx(97 * 1);
      }
      @include desktop-up {
        margin-left: ppx(97);
      }
    }

    &__title-en {
      color: var(--blue_5, #026995);
      text-align: center;
      font-family: 'Zen Kaku Gothic New';
      font-size: spx(55);
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 55px */
      letter-spacing: spx(2.75);
      @include tablet-up {
        text-align: left;
        font-size: ppx(60 * 1.2);
        line-height: 160%; /* 96px */
        letter-spacing: 0;
      }
      @include desktop-up {
        font-size: ppx(60);
      }
    }

    &__title-ja {
      color: var(--blue_5, #026995);
      text-align: center;
      font-family: 'Zen Kaku Gothic New';
      font-size: spx(28);
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 28px */
      letter-spacing: spx(1.4);
      margin-top: spx(12);
      @include tablet-up {
        text-align: left;
        font-size: ppx(30 * 1.2);
        line-height: 160%; /* 48px */
        letter-spacing: ppx(1.5 * 1.2);
        margin-top: ppx(5 * 1.2);
      }
      @include desktop-up {
        font-size: ppx(30);
        letter-spacing: ppx(1.5);
        margin-top: ppx(5);
      }
    }

    &__title-note {
      color: var(--blue_5, #026995);
      font-family: 'Zen Kaku Gothic New';
      font-size: spx(37);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: spx(1.85);
      @include tablet-up {
        font-size: ppx(40 * 1.2);
        line-height: 160%;
      }
      @include desktop-up {
        font-size: ppx(40);
      }
    }

    &__list {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      gap: spx(12);
      justify-content: center;
      margin-top: spx(40);
      @include tablet-up {
        grid-template-columns: max-content max-content max-content max-content;
        gap: ppx(40 * 1.2) ppx(20 * 1.2);
        justify-content: flex-start;
        margin-top: ppx(31 * 1.2);
      }
      @include desktop-up {
        grid-template-columns: max-content max-content max-content max-content max-content;
        gap: ppx(40) ppx(20);
        margin-top: ppx(31);
      }
    }

    &__item {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__icon {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }

    &__icon-image {
      display: block;
      width: spx(212);
      @include tablet-up {
        width: ppx(212 * 1);
      }
      @include desktop-up {
        width: ppx(212);
      }
    }

    &__caption {
      @include tablet-up {
      }
      @include desktop-up {
      }
    }
  }
</style>
